<div class="container">
  <div class="row">
    <% @images.each do |image| %>
      <div class="col-md-3">
        <div class="all-image">
          <%= link_to image_tag(image.attached_image.url(:medium)), image_path(image.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
